

#define OROCIARM_WAVES_SETUP
	[event]
		name=start
		[if]
			[variable]
				name=ORM_agelesswaves_setting
				equals=ORM_bool_true
			[/variable]
			[then]
				{OROCIARM_AGELESS_RANDOM_WAVES}
			[/then]
			[else]
				{OROCIARM_ORIGINALWAVES}
			[/else]
		[/if]
	[/event]
#enddef